@media screen and (max-width:768px) {

    .img-1, .img-2, .img-3, .img-4{
        width: 48%;
    }
}

@media screen and (max-width:576px) {

    .one-box , .second-box{
        width: 100%;
    }
    .img-1, .img-2, .img-3, .img-4{
        width: 100%;
    }
    .main , .footer div , h1{
        width: 80%;
        text-align: center;
    }
    h1{
        font-size: 30px;
    }
}

@media screen and (max-width:300px) {
    h1{
        font-size: 24px;
    }
}