@media screen and (max-width:1200px) {
    h1 {
        width: 60%;
    }
    .footer div {
        width: 70%;
    }
}

@media screen and (max-width:992px) {
    h1 {
        font-size: 30px;
        width: 65%;
    }

    .box {
        width: 47%;
    }
}

@media screen and (max-width:576px) {
    .box {
        width: 100%;
    }

    .container {
        width: 90%;
    }
}

@media screen and (max-width:576px) {
    h1 {
        width: 85%;
    }
}